<h1>About Me</h1>
<hr>
<p>I am a student at Alta High School. I am also a graduate of the 
   Code to Success Utah summer program, where I learned full stack web development 
   using Ruby on Rails with Javascript integrations.
</p>
