<h1>Pages#contact</h1>

<p><%= number_to_phone "5555555555" %></p>

<p><%= number_to_currency "150" %></p>

<p><%= number_to_percentage "15.7" %></p>

<p><%= number_with_delimiter "151345234523452345" %></p>
