<div class="app-card-container">
   <div class="card">
    <h1>Contact</h1>
    
    <hr>
    <div class="row">
      <div class="col-md-6">
        <p>Personal phone: <%= number_to_phone "8015202066" %></p>
    
        <p>Personal email: blaked609@gmail.com</p>
        
        <p>Test Address: South 1000 East, Sandy, UT</p>
      </div>
      
      <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3031.6148083930634!2d-111.86336688429843!3d40.55009847934989!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x875287810c295dfb%3A0x5e8aa3175a681850!2sAlta+High+School!5e0!3m2!1sen!2sus!4v1500389539862" width="450" height="450" frameborder="0" style="border:0" allowfullscreen>
        </iframe>
      </div>
    </div>
  </div>
</div>
