<div class="inner cover">
  <h1 class="cover-heading">Welcome.</h1>
  <p class="lead">As a student, I seek wisdom over knowledge, and to 
                  prepare my mind in order to solve the problems that 
                  our nation will face tomorrow.
  </p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>


